@CHARSET "UTF-8";
/* -------------------------------------------------------------- 

  @file nlm.css
	
-------------------------------------------------------------- */

div.pubnode.nlm ul.authors       { list-style: none; margin: 0 0 1em 0; }
div.pubnode.nlm ul.authors li    { display: inline; margin-right: .5em; }

div.pubnode.nlm .affiliation     { font-size: 90%; }

div.pubnode.nlm .table .label,
div.pubnode.nlm .figure .label,
div.pubnode.nlm .table .title,
div.pubnode.nlm .figure .title   { display: inline; }
div.pubnode.nlm .table .label,
div.pubnode.nlm .figure .label   { font-weight: bold; margin-right: .5em; }
div.pubnode.nlm .table .caption,
div.pubnode.nlm .figure .caption { font-size: 90%; font-style: italic; }

div.pubnode.nlm .table thead     { border-bottom: 1px solid #dcdcdc; }
div.pubnode.nlm .table thead tr  {
  color: #666; 
  background: #f5f5f5;
  border-bottom: 1px solid #dcdcdc; 
  white-space: nowrap;
}
div.pubnode.nlm .table thead tr td { font-weight: bold; }

div.pubnode.nlm .section         { margin-top: 1em; }

/* no special treatment for named content
.named_content   { font-style: italic; }
*/

div.pubnode.nlm .unsupported     { background: yellow; color: red; }

div.pubnode.nlm div.abstract     {
    font-weight: bold;
    margin-top: 1em;
}

div.pubnode.nlm div#backmatter   {
    border-top: 1px solid #dcdcdc;
    padding-top: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.pubnode.nlm div.ref          {
    padding-top: 1ex;
}

div.pubnode.nlm div.media img          {
    width: 100px;
}
