/*
** Ajax popups dialog box styles
*/

#popups-overlay {
  position: absolute;
  background: black;
  z-index: 9;  
  top: 0;
}
#popups-loading {
  z-index: 10;  
  opacity: 0.75;
  position: relative;
}  
#popups-loading div {
  position: absolute;  
}
#popups {
  border: 1px solid black;
  background: white;
  position: absolute;
  z-index: 10;  
  padding: 0.5em;
  width: 600px;
  overflow: auto;  
}
#popups-title {
  font-weight: bold;
  margin-bottom: 0.25em;
}
#popups-title div.title {
  float: left;
}
#popups-title #popups-close {
  float: right;
}
#popups-title #popups-close a {
  font-weight: normal;  
}
/*
#popups-title div.clear {
  clear: both;
}
*/
/* Allow messages to be used as the title of the popups */
#popups div.messages {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
