/*
** Popups Dialog box styles
*/

#popups-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
/*  opacity: 0.4; */
  background: black;
  z-index: 9;  
  top: 0;
}

#popups-loading {
  z-index: 10;  
  opacity: 0.75;
  position: relative;
}  
#popups-loading div{
  position: fixed;	
}


#popups {
  border: 1px solid black;
  background: white;
  position: absolute;
  opacity: 1.0;
  z-index: 10;  
  color: black;
  padding: 0.5em;
/*  visibility: hidden; */
}

#popups-title {
  background: #222;
  color: white;
  padding: 0.2em;
  margin: 0.2em;
}

#popups-title div.title {
  float:left;
}

#popups-title #popups-close {
  float:right;
}
#popups-title #popups-close a {
    color: red;  
}
#popups-title div.clear {
  clear:both;
}  

#popups input {
  margin: 0.1em;
}

#popups div.messages {
	background: #222;
	border: none;
	padding: 0;
	margin: 0;
}
