/** Node admin filter **/
#biblio-filter ul {
  padding:                    1px;
  margin:                     1px;
  width:                      100%;
}
#biblio-buttons {
  float:                      left;
  margin-left:                0.5em;
  margin-top:                 1em;
 /* clear:                      right; */
}
.biblio-alpha-line {
	text-align: center;
}
dl.bibliomultiselect dd.b, dl.bibliomultiselect dd.b .form-item, dl.bibliomultiselect dd.b select {
  font-family: inherit;
  font-size: inherit;
  width: 14em;
}
dl.bibliomultiselect dd.a, dl.bibliomultiselect dd.a .form-item {
  width: 8em;
}
dl.bibliomultiselect dt, dl.bibliomultiselect dd {
  float: left;
  line-height: 1.75em;
  padding: 0;
  margin: 0 1em 0 0;
}
dl.bibliomultiselect .form-item {
  height: 1.75em;
  margin: 0;
}

.biblio-head {
	width: 97%;
	color: Black;
	font-weight: normal;
	background-color: #EAEAEA;
	border: medium solid;
	border-left-color: #F0F8FF;
	border-right-color: Gray;
	border-bottom-color: Gray;
	border-top-color: #F0F8FF;
	padding: 3px;
}
 .biblio-head a:link , .biblio-head a.active, .biblio-head a:visited,
 .biblio-head a:focus,  .biblio-head a:hover  {
	color: black;
}
.biblio-current-filters {background-color: #ffe1e1;}

.biblio-year {
	color: #000000;
	font-weight: bold;
	background-color: #e1e1e1;
	border: 1px solid #ccc;
	padding: 0.5em;
	margin: 1em 0 1em 0;
}
.biblio-toolbar {
	width: 97%;
	color: Red;
	font-weight: bold;
	background-color: Silver;
	border: medium solid;
	border-left-color: #F0F8FF;
	border-right-color: Gray;
	border-bottom-color: Gray;
	border-top-color: #F0F8FF;
	padding: 3px;
}
.biblio-entry  {
  margin: 1em 0 1em 0;

}
.biblio-publisher {
	font-style: oblique;
	font-weight: bold;
}
.biblio-title a{
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	line-height: normal;
	text-align: left;
	font-family: "@Arial Unicode MS", Arial, sans-serif;
	color: #336599;
}

a:active {

}

.biblio-authors a{
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
}
.biblio_type-1 {
	background-color: #F2F2D9;
}
.biblio_type-2 {
	background-color: #D9E6F2;
}
.biblio_type-3 {
	background-color: #E5F2D9;
}
.biblio_type-4 {
	background-color: #D9F2E6;
}
.biblio_type-5 {
	background-color: #F2E6D9;
}
.biblio_type-6 {
	background-color: #D9E6F2;
}
.biblio_type-7 {
	background-color: #D9E6F2;
}
.biblio_type-8 {
	background-color: #D9E6F2;
}
.biblio_type-9 {
	background-color: #D9E6F2;
}
.biblio-export{
	text-align: right;
	text-decoration: none;
	float: right;
}
.biblio-abstract-link{
	text-align: left;
	text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size:75%;
}
.biblio-export-links{
	text-align: left;
	text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size:75%;
}
.biblio-annotation{
	text-align: left;
	text-decoration: none;
  margin-left:  2.5em;
  margin-top:   0.5em;
  margin-right: 2.5em;
}
.biblio-sort{
	text-decoration: none;
	text-align: left;
}
.biblio-openurl-text{
	text-align: right;
	text-decoration: none;
	float: right;
}
